body {
	background: #fff;
}

/*
	Color reference MD Orange
	https://www.google.com/design/spec/style/color.html#color-color-palette
*/

.wtp {
	background-color: #E65100;
	color: #fff;
}

.bar.bar-wtp {
	border-color: #E65100;
	background-color: #E65100;
	background-image: linear-gradient(0deg, #111, #111 50%, transparent 50%);
	color: #fff;
}
.bar.bar-wtp .title {
	color: #fff;
}
.bar.bar-wtp.bar-footer {
	background-image: linear-gradient(180deg, #111, #111 50%, transparent 50%);
}